{% load static %}
<!--Navbar-->
<style>
    .hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">

    <!-- Navbar brand -->
    <img src=" {% static 'images/logo.png' %} " alt="">

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'home' %} ">Dashboard           
          </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'products' %} ">Products</a>
            </li>
            {% endif %}
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary elegant-color-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" style="color: snow;" href="#">Action</a>
                    <a class="dropdown-item" style="color: snow;" href="#">Another action</a>
                    <a class="dropdown-item" style="color: snow;" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
        <span class="hello-msg">Hello, {{request.user}}</span>
        <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->